@import "partials/mixins";
@import "partials/params";
.pop_up_content_information {
  & .pop_up_content_information_cards {
    & .card {
      .card_delete_successful,
      .card_delete_unsuccessful {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        p {
          margin-top: 14px;
          color: #828282;
          font-size: 0.8125rem;
        }
      }
    }
  }
}
