@import "partials/mixins";
@import "partials/params";

.pop_up_header {
  width: 100%;
  display: flex;
  padding: 0.625rem 0;
  align-items: center;
  justify-content: space-between;
  & .pop_up_header__buttons {
    display: flex;
    flex: 2 0 0;
    color: #ffffff;
    & .replenish_btn {
      @include btn();
      margin-right: 0.625rem;
      p {
        margin-left: 0.77rem;
        font-size: 1rem;
      }
      &.deactivate-bg {
        background-color: $deactivate-bg;
      }
    }
    & .cash_withdrawal_btn {
      @include btn($bg: #c3c9ce);
      p {
        margin-left: 0.77rem;
      }
      &.blue-active {
        background-color: $blue-active-class-bg;
      }
    }
  }
  & .pop_up_header_right_path-turnOn {
    display: flex;
    flex: 1 0 0;
    justify-content: space-around;
    align-items: center;
    padding-right: 0.625rem;
    text-transform: uppercase;
    & .pop_up_header_right_path-close {
      &.sms_confirm {
        margin-right: 0;
      }
    }

    & .pop_up_header_right_path-title {
      font-size: 0.81rem;
    }
    & .toggle_btn {
      width: 44px;
      height: 24px;
      padding: 3px;
      background-color: #c3d2e1;
      border-radius: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & .toggle_btn_green {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #3eb553;
        cursor: pointer;
      }
    }
  }
}
