@import "partials/mixins";
@import "partials/params";

.pop_up_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0;

  & .pop_up_header__buttons {
    display: flex;
    & .replenish_btn {
      @include btn();
      display: flex;
      margin-right: 0.625rem;
      p {
        margin-left: 0.77rem;
        font-size: 1rem;
      }
    }
    & .cash_withdrawal_btn {
      @include btn($bg: #c3c9ce);
      display: flex;
      p {
        padding-left: 0.89rem;
      }
    }
  }
  & .pop_up_header_right_path {
    display: flex;
    align-items: center;
    padding-right: 0.625rem;
    text-transform: uppercase;
    color: black;
    & .pop_up_header_right_path-title {
      display: flex;
    }
    & .toggle_btn {
      width: 44px;
      height: 24px;
      margin: 0 2.68rem 0 0.625rem;

      padding: 3px;
      background-color: #c3d2e1;
      border-radius: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & .toggle_btn_green {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background-color: #3eb553;
        cursor: pointer;
      }
    }
  }
}
