@import "partials/mixins";
@import "partials/params";

.pop_up_content {
  & .pop_up_content_nav {
    width: 18%;
    & .nav-list {
      @include clear-list();
      & .nav-item {
        border-top: 1px solid #70707030;

        &:first-child {
          border-top: none;
        }
        & .nav-link {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 1.25rem 0.625rem;
          color: black;
          transition: all 0.5s;
          img {
            margin-right: 14px;
          }
          &:hover {
            background-color: #fff;
          }
        }
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
